:root {
  --main-font-family: 'Montserrat', sans-serif;
  --minor-font-family: 'Roboto', sans-serif;
  --main-color: #fff;
  --menu-color: #fff;
  --main-title-color: #fff;
  --minor-title-color: #333333;
  --main-hover-color: #ff4e50;
  --text-color: #666666;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  display: block;
}
img {
  margin: 0;
  display: block;
  max-width: 100%;
  height: auto;
}

/* hero */
.hero {
  background-image: url(../images/hero-mobil.png);
  background-repeat: no-repeat;
  background-position: center;
  min-width: 320px;
  margin: 0 auto;
  background-size: cover;
  min-height: 540px;
}
.container {
  display: flex;
  flex-direction: column-reverse;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.logo {
  text-decoration: none;
  font-family: var(--main-font-family);
  color: var(--main-color);
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  max-height: 25px;
}
.logo:hover {
  transform: scale(1.05);
}
.logo:focus {
  transform: scale(1.05);
}

.user-menu {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 120px;
}
.user-menu__login {
  all: unset;
  font-family: var(--main-font-family);
  color: var(--main-color);
  font-weight: bold;
  font-size: 14px;
  border: solid 2px;
  border-radius: 100px;
  border-color: transparent;
  cursor: pointer;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 90px;
}
.user-menu__login:hover {
  border-color: #fff;
}
.user-menu__login:focus {
  border-color: #fff;
}
.user-menu__signup {
  all: unset;
  font-family: var(--main-font-family);
  color: var(--menu-color);
  font-weight: bold;
  font-size: 14px;
  border: solid 2px;
  border-radius: 100px;
  border-color: transparent;
  cursor: pointer;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 90px;
}
.user-menu__signup:hover {
  border-color: #fff;
}
.user-menu__signup:focus {
  border-color: #fff;
}
.hero-message__major {
  color: var(--main-title-color);
  font-family: var(--main-font-family);
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
  margin-bottom: 40px;
}

.hero-message__minor {
  margin-left: auto;
  margin-right: auto;
  font-family: var(--minor-font-family);
  color: var(--main-title-color);
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
}

.find-button {
  display: block;
  color: var(--main-color);
  font-family: var(--main-font-family);
  background-color: var(--main-hover-color);
  text-align: center;
  border: 2px transparent;
  border-radius: 100px;
  width: 280px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.find-button:hover {
  background-color: transparent;
  color: var(--main-hover-color);
  border: solid 2px;
  border-color: var(--main-hover-color);
}
.find-button:focus {
  background-color: transparent;
  color: var(--main-hover-color);
  border: solid 2px;
  border-color: var(--main-hover-color);
}
/* Partners */
.partners {
  margin-top: 70px;
  margin-bottom: 60px;
  max-width: 748px;
  margin-left: auto;
  margin-right: auto;
}
.partners-title {
  margin: 0;
  font-family: var(--main-font-family);
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  color: var(--minor-title-color);
}
.partners-list__link {
  text-decoration: none;
  cursor: pointer;
  position: relative;
}
.partners-list {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  list-style-type: none;
  text-align: center;
  align-items: flex-start;
}
.partners-list__item {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.partners-list__cell {
  width: 121px;
  margin: 0 auto;
  margin-bottom: 25px;
}
.partners-list__photo {
  margin-right: auto;
  margin-left: auto;
}
.partners-list__description {
  margin: 0;
}
.red::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(../images/icons/Shape-1.svg);
  background-color: #ff4e50;
  background-repeat: no-repeat;
  background-position: center;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: 3px solid white;
}
.red:hover::after {
  transform: scale(1.05);
}
.red:focus::after {
  transform: scale(1.05);
}
.green::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(../images/icons/Shape-2.svg);
  background-color: #1cd7ad;
  background-repeat: no-repeat;
  background-position: center;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: 3px solid white;
}
.green:hover::after {
  transform: scale(1.05);
}
.green:focus::after {
  transform: scale(1.05);
}
.yellow::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(../images/icons/Shape-3.svg);
  background-color: #4e73db;
  background-repeat: no-repeat;
  background-position: center;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: 3px solid white;
}
.yellow:hover::after {
  transform: scale(1.05);
}
.yellow:focus::after {
  transform: scale(1.05);
}
.blue::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(../images/icons/Shape-4.svg);
  background-color: #ffa507;
  background-repeat: no-repeat;
  background-position: center;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: 3px solid white;
}
.blue:hover::after {
  transform: scale(1.05);
}
.blue:focus::after {
  transform: scale(1.05);
}
.partners-list__title {
  font-family: var(--main-font-family);
  color: var(--minor-title-color);
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
.partners-list__description {
  font-family: var(--minor-font-family);
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px;
}
.see-button {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  color: var(--main-color);
  font-family: var(--main-font-family);
  background-color: var(--main-hover-color);
  border: 2px transparent;
  border-radius: 100px;
  width: 280px;
  height: 40px;
  cursor: pointer;
}
.see-button:hover {
  height: 38px;
  width: 278px;
  background-color: var(--main-color);
  color: var(--main-hover-color);
  border: solid 2px;
  border-color: var(--main-hover-color);
}
.see-button:focus {
  height: 38px;
  width: 276px;
  background-color: var(--main-color);
  color: var(--main-hover-color);
  border: solid 2px;
  border-color: var(--main-hover-color);
}
@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 748px;
    flex-direction: row;
    align-items: center;
    padding-top: 45px;
  }
  .user-menu {
    margin: 0;
    right: 0;
    margin-left: auto;
    text-align: center;
  }
  .hero {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url('../images/hero-tablet.png');
    min-height: 700px;
  }
  .logo {
    margin: 0;
    left: 0;
    top: 0;
    max-width: 200px;
  }
  .hero-message {
    margin: 0;
    padding-top: 260px;
  }
  .partners-list {
    margin: 0 auto;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    max-width: 532px;
  }
  .partners-list__item {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 0;
    flex-basis: calc(50% - 25px);
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .partners-list__item:not(:nth-child(2n)) {
    margin-right: 50px;
  }
  .partners-list__cell {
    margin: 0;
    max-height: 160px;
    margin-bottom: 25px;
  }
  .partners-list__title {
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .partners-list__description {
    margin: 0;
  }
  .gap {
    display: none;
  }
}
@media screen and (min-width: 940px) {
  .hero {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url('../images/hero-desktop.png');
    min-height: 700px;
  }
  .partners-list {
    max-width: 942px;
  }
  .partners-list__item {
    display: flex;
    align-items: center;
    flex-basis: calc(25% - 25px);
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .partners-list__item:not(:nth-child(4n)) {
    margin-right: 25px;
  }
}
